<div class="container">
  <h1 class= "mt-5"><%= @list.name %></h1>

  <h2>All movies :</h2>

  <% @bookmarks.each do |bookmark| %>
    <h3><%= bookmark.movie.title %></h3>
    <p><%= bookmark.comment %></p>
    <p><%= bookmark.movie.rating %> / 10</p>
    <%= link_to "Delete the movie", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark" %>
  <% end %>

  <div>
    <%= link_to "Update my list", edit_list_path(@list), class: "btn btn-dark" %>
    <%= link_to "Delete my list",
      list_path(@list),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-dark" %>
    <%= link_to "All my lists", lists_path, class: "btn btn-dark" %>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-dark" %>
  </div>

</div>
