<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">

  <div class="row my-3">
    <h2>All movies</h2>
  </div>

  <div class="row d-flex d-flex justify-content-around">
    <%# <div class= "d-flex justify-content-center"> %>
      <% @bookmarks.each do |bookmark| %>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="card card-movie" style="width: 18rem;">
                    <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash-can-arrow-up"></i>
            <% end %>
            <%= image_tag bookmark.movie.poster_url, class: 'card-img-movie' %>
            <div class="d-flex justify-content-between infos-movie card-body">
              <div class="">
                <p class="card-title"><strong><%= bookmark.movie.title %></strong></p>
                <p class="card-text"><%= bookmark.comment %></p>
              </div>
              <p><i class="fa-solid fa-star"></i> <%= bookmark.movie.rating %> / 10</p>
            </div>
          </div>
        </div>
      <% end %>
    <%# </div> %>
  </div>

 <div class="row my-2 justify-content-center">
 <div class="col-6">
    <h1 class= "mt-5">Add a new movie</h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: 'Write a comment about the movie' %>
      <%= f.association :movie, prompt: "Select a movie" %>
      <%= f.button :submit, "Add to my list", class: 'btn btn-ghost' %>
    <% end %>
 </div>

 </div>

  <div class="row my-5">
    <div class= "d-flex justify-content-center">
        <%= link_to edit_list_path(@list), class: "btn btn-ghost mx-5" do %>
          <span><i class="fa-solid fa-pen-to-square"></i> Modify my list</span>
        <% end %>

        <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-ghost mx-5" do %>
          <span><i class="fa-solid fa-trash"></i> Delete my list</span>
        <% end %>
    </div>
  </div>
</div>
